<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zettayun.dao.DataSetDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zettayun.entity.DataSet">
        <id column="id" property="id"/>
        <result column="set_name" property="setName"/>
        <result column="point_number" property="pointNumber"/>
        <result column="data_source" property="dataSource"/>
        <result column="create_time" property="createTime"/>
        <result column="last_update_time" property="lastUpdateTime"/>
        <result column="last_insert_time" property="lastInsertTime"/>
        <result column="token" property="token"/>
        <result column="period" property="period"/>
        <result column="status" property="status"/>
        <result column="value_unit" property="valueUnit"/>
        <result column="remark" property="remark"/>
        <result column="set_type" property="setType"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, set_name AS setName, point_number AS pointNumber, data_source AS dataSource, create_time AS createTime,
        last_update_time AS lastUpdateTime, last_insert_time AS lastInsertTime, token, period, status, value_unit AS
        valueUnit, remark, set_type AS setType
    </sql>

</mapper>
